{
  ".url": {
    "SYNO.SDS.nas4webtrees.Application": {
      "type": "url",
      "allUsers": true,
      "title": "nas4webtrees",
      "desc": "Stammbaum",
      "icon": "images/nas4webtrees_{0}.png",
      "protocol": "http",
      "port": "__LAN_PORT__",
      "url": "/",
      "allowMultiInstance": false,
      "grantPrivilege": "all",
      "advanceGrantPrivilege": false
    },
    "SYNO.SDS.nas4webtrees.Apps": {
      "type": "url",
      "allUsers": true,
      "title": "nas4webtrees – Apps verbinden",
      "desc": "wtAnd, wtWin, wtTux",
      "icon": "images/nas4webtrees_{0}.png",
      "protocol": "http",
      "port": "__LAN_PORT__",
      "url": "/index.php?route=%2Fmodule%2F_api4webtrees_%2FApp",
      "allowMultiInstance": false,
      "grantPrivilege": "all",
      "advanceGrantPrivilege": false
    }
  }
}
